<div class="demo">
  <h2>Try to type letters and numbers</h2>

  <section>
    <h3><code>digitOnly</code> directive</h3>
    <label for="digit-only">Digit Only input box</label>
    <input id="digit-only" type="text" digitOnly placeholder="00000" />

    <label for="digit-only-with-max-length">
      Digit Only input box with max length 3
    </label>
    <input
      id="digit-only-with-max-length"
      type="text"
      digitOnly
      placeholder="000"
      maxlength="3"
    />
  </section>

  <section>
    <h3><code>min</code> and <code>max</code></h3>
    <label for="digit-only-min-max">
      Digit Only input box between 0 and 100
    </label>
    <input
      id="digit-only-min-max"
      type="text"
      digitOnly
      placeholder="Between 0 and 100"
      min="0"
      max="100"
    />

    <label for="digit-only-min-max-binding">
      Digit Only input box between {{ min }} and {{ max }}
    </label>
    <input
      id="digit-only-min-max-binding"
      type="text"
      digitOnly
      placeholder="Between {{ min }} and {{ max }}"
      [min]="min"
      [max]="max"
    />
    Min
    <input id="min" type="text" digitOnly placeholder="Min" [(ngModel)]="min" />
    Max
    <input id="max" type="text" digitOnly placeholder="Max" [(ngModel)]="max" />
  </section>

  <section>
    <h3><code>decimal</code> and <code>decimalSeparator</code></h3>

    <label for="digit-only-decimal">
      Digit Only input box that allows a <i>decimal point</i>
    </label>
    <input
      id="digit-only-decimal"
      type="text"
      digitOnly
      decimal="true"
      placeholder="0.00"
      [pattern]="decimalPattern"
    />

    <label for="digit-only-decimal-comma">
      Digit Only input box that allows a <i>decimal point</i> using
      <strong>a comma as the separator</strong>
    </label>
    <input
      id="digit-only-decimal-comma"
      type="text"
      digitOnly
      decimal="true"
      decimalSeparator=","
      placeholder="0,00"
      pattern="[0-9]+([,][0-9]+)?"
    />
  </section>

  <section>
    <h3><code>pattern</code></h3>
    <label for="pattern-binding">text input with pattern binding</label>
    <input
      id="pattern-binding"
      type="text"
      [pattern]="pattern"
      name="pattern-binding"
      title="3 digits code"
      [placeholder]="pattern"
      digitOnly
    />
    <input
      id="change-pattern"
      type="text"
      [(ngModel)]="pattern"
      name="change-pattern"
      placeholder="Type your pattern"
      style="margin-left: 0.5rem;"
    />

    <label for="currency">
      Digit Only input only allows two decimal places
    </label>
    <input
      id="currency"
      type="text"
      name="currency"
      inputmode="numeric"
      pattern="^\d+(\.\d{1,2})?$"
      placeholder="0.00"
      digitOnly
      decimal="true"
    />

    <label for="dollar-amount">
      Digit Only input only allows two decimal places and allow starting with a
      decimal point
    </label>
    <input
      id="dollar-amount"
      type="text"
      name="dollar-amount"
      inputmode="numeric"
      pattern="^(?=.*\d)\d*(\.\d{1,2})?$"
      placeholder="0.00"
      digitOnly
      decimal="true"
    />
  </section>

  <section>
    <h3>number input optimization for mobile devices</h3>
    <label for="credit-card-number">
      Digit Only input test in <strong>mobile device</strong> (no
      <i>decimal point</i>)
      <small>max-length=3</small>
    </label>
    <input
      type="text"
      name="credit-card-number"
      id="credit-card-number"
      placeholder="000"
      maxlength="3"
      inputmode="numeric"
      pattern="[0-9]*"
      digitOnly
    />

    <label for="decimal-number">
      Digit Only input test in <strong>mobile device</strong> (allows a
      <i>decimal point</i>) <small>max-length=5</small>
    </label>
    <input
      type="text"
      name="decimal-number"
      id="decimal-number"
      placeholder="00.00"
      maxlength="5"
      inputmode="numeric"
      pattern="[0-9]+([\.][0-9]+)?"
      digitOnly
      decimal="true"
    />
  </section>

  <section>
    <h3>regular text input</h3>

    <label for="regular-text">regular text input</label>
    <input id="regular-text" type="text" placeholder="regular text input" />

    <label for="text-with-pattern">text input with pattern attribute</label>
    <input
      id="text-with-pattern"
      type="text"
      pattern="[0-9]*"
      maxlength="3"
      name="code"
      title="3 digits code"
      placeholder="000"
    />
  </section>
</div>
