<div class="demo">
  <h2>Try to type letters and numbers</h2>

  <label for="digit-only">Digit Only input box</label>
  <input id="digit-only" type="text" digitOnly placeholder="000">

  <label for="digit-only-with-max-length">Digit Only input box with max length 3</label>
  <input id="digit-only-with-max-length" type="text" digitOnly placeholder="000" maxlength="3">

  <label for="text">regular text input</label>
  <input id="text" type="text" placeholder="regular text input">

  <p>
    <a title="github" href="https://github.com/changhuixu/ngx-digit-only">GitHub Repo</a>
  </p>
</div>