.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  background-color: #ccc;
}

.content {
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
}
