<div class="demo">
  <h2>Try to type letters and numbers</h2>

  <label for="digit-only">Digit Only input box</label>
  <input id="digit-only" type="text" digitOnly placeholder="000" />

  <label for="digit-only-decimal">
    Digit Only input box that allows a <i>decimal point</i>
  </label>
  <input
    id="digit-only-decimal"
    type="text"
    digitOnly
    decimal="true"
    placeholder="0.00"
    pattern="[0-9]+([\.][0-9]+)?"
  />

  <label for="digit-only-decimal-comma">
    Digit Only input box that allows a <i>decimal point</i> using
    <strong>a comma as the separator</strong>
  </label>
  <input
    id="digit-only-decimal-comma"
    type="text"
    digitOnly
    decimal="true"
    decimalSeparator=","
    placeholder="0,00"
    pattern="[0-9]+([,][0-9]+)?"
  />

  <label for="digit-only-with-max-length"
    >Digit Only input box with max length 3</label
  >
  <input
    id="digit-only-with-max-length"
    type="text"
    digitOnly
    placeholder="000"
    maxlength="3"
  />

  <label for="creditcard_number">
    Digit Only input test in <strong>mobile device</strong> (no
    <i>decimal point</i>)
    <small>max-length=3</small>
  </label>
  <input
    type="text"
    name="creditcard"
    id="creditcard_number"
    placeholder="000"
    maxlength="3"
    inputmode="numeric"
    pattern="[0-9]*"
    digitOnly
  />

  <label for="decimal-number">
    Digit Only input test in <strong>mobile device</strong> (allows a
    <i>decimal point</i>) <small>max-length=5</small>
  </label>
  <input
    type="text"
    name="decimal-number"
    id="decimal-number"
    placeholder="00.00"
    maxlength="5"
    inputmode="numeric"
    pattern="[0-9]+([\.][0-9]+)?"
    digitOnly
    decimal="true"
  />

  <label for="regular-text">regular text input</label>
  <input id="regular-text" type="text" placeholder="regular text input" />

  <label for="text-with-pattern">text input with pattern attribute</label>
  <input
    id="text-with-pattern"
    type="text"
    pattern="[0-9]*"
    maxlength="3"
    name="code"
    title="3 digits code"
    placeholder="000"
  />

  <label for="currency">Digit Only input only allows two decimal places</label>
  <input
    id="currency"
    type="text"
    name="currency"
    inputmode="numeric"
    pattern="^\d+(\.\d{1,2})?$"
    placeholder="0.00"
    digitOnly
    decimal="true"
  />
  />

  <p>
    <a title="github" href="https://github.com/changhuixu/ngx-digit-only"
      >GitHub Repo</a
    >
  </p>
</div>
